#app
    .active
        color: #00adee
    .sidebar-link
        color: #2c3e50
    .sidebar-link.active
        border-color: #00adee
        color: #00adee
    a
        color: #00adee
    .content:not(.custom)
        max-width: 920px
        line-height: 1.6rem
