$neos-light-blue = #00adee
$accentColor = $neos-light-blue
$textColor = #2c3e50
$codeBgColor = #282c34

#app
    .content:not(.custom)
        max-width: 920px
        line-height: 1.6rem
    .sidebar
        width: 23rem
    .page
        padding-left: 23rem
